# map() function

- The map() function applies a given function to all items in an inout list(or any other iterable) and return a map object (an iterator). This is particularly useful for transforming data in a list comprehensively.

In [1]:
# map() function
def square(x):
    return x*x
square(10)

100

In [3]:
numbers = [1,2,3,4,5,6,7,8]

map(square,numbers)
#  Here It created a map object

In [5]:
numbers = [1,2,3,4,5,6,7,8]

list(map(square,numbers))
# After converting to the list it gives output

[1, 4, 9, 16, 25, 36, 49, 64]

In [6]:
# Lambda Function with map

numbers = [1,2,3,4,5,6,7,8]
list(map(lambda x:x*x, numbers))

[1, 4, 9, 16, 25, 36, 49, 64]

In [7]:
# Map Multiple iterables

numbers1=[1,2,3]
numbers2=[4,5,6]

added_numbers=map(lambda x,y:x+y,numbers1,numbers2)
print(added_numbers)

<map object at 0x000001D96F65AB90>

In [8]:
numbers1=[1,2,3]
numbers2=[4,5,6]

added_numbers=list(map(lambda x,y:x+y,numbers1,numbers2))
print(added_numbers)

[5, 7, 9]

In [9]:
# map() to convert a list of string to integers
# Use map to convert strings to integers

str_numbers = ['1','2','3','4','5']
int_numbers = list(map(int, str_numbers))

print(int_numbers)

[1, 2, 3, 4, 5]

In [10]:
# Inbuilt function 

words = ['apple','banana','cherry']
upper_word=list(map(str.upper,words))
print(upper_word)

['APPLE', 'BANANA', 'CHERRY']

In [11]:
def get_name(person):
    return person['name']

people = [
    {'name':'Saurabh','age':23},
    {'name':'Jack','age':33}
]

list(map(get_name,people))

['Saurabh', 'Jack']

# Conclusion map() function

- It applies a given function to all items in an iterable and returns a map object.
- It can be used to transform data in a list comprehensively.
- Lambda function can be used along with map() to perform complex operations.
- Inbuilt function can be used to convert iterable objects to other iterable objects.
- It is a powerful and versatile function in Python.