# Tuples
- Introduction to Tuples
- Creating Tuples
- Accessing Tuple Elements
- Tuple Operations
- Immutable Nature of Tuples
- Tuple Methods
- Packing and Unpacking Tuples
- Nested Tuples
- Practical Examples of Common Errors

# Introduction to Tuples

# Explanation:

- Tuples are ordered collections of items that are immutable.
- They are similar to lists, but their immutability makes them different.

In [1]:
# Creating a tuple
empty_tuple=()
print(empty_tuple)
print(type(empty_tuple))

()
<class 'tuple'>

In [2]:
lst = list()
print(type(lst))
tpl = tuple()
print(type(tpl))

<class 'list'>
<class 'tuple'>

In [3]:
numbers = tuple([1,2,3,4,5,6])
numbers

(1, 2, 3, 4, 5, 6)

In [4]:
list((1,2,3,4,5,6))

[1, 2, 3, 4, 5, 6]

In [5]:
mixed_tuple = (1,"Hello World",3.14,True)
print(mixed_tuple)

(1, 'Hello World', 3.14, True)

In [6]:
# Accessing Tuple Elements

numbers

(1, 2, 3, 4, 5, 6)

In [7]:
print(numbers[2])
print(numbers[-1])

3
6

In [8]:
numbers[0:4]

(1, 2, 3, 4)

In [9]:
numbers[::-1]

(6, 5, 4, 3, 2, 1)

# Tuple Operations

In [10]:
# Tuples Operations

concatenation_tuple = numbers + mixed_tuple
print(concatenation_tuple)

(1, 2, 3, 4, 5, 6, 1, 'Hello World', 3.14, True)

In [11]:
mixed_tuple * 3

(1,
 'Hello World',
 3.14,
 True,
 1,
 'Hello World',
 3.14,
 True,
 1,
 'Hello World',
 3.14,
 True)

In [12]:
mixed_tuple * 3

(1,
 'Hello World',
 3.14,
 True,
 1,
 'Hello World',
 3.14,
 True,
 1,
 'Hello World',
 3.14,
 True)

In [13]:
numbers * 3

(1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6)

In [14]:
# Immutable Nature of Tuples
# Tuples are immutable, meaning their elements cannot be changed once assigned.

lst = [1,2,3,4,5]
print(lst)

lst[1] = "Saurabh"
print(lst)

[1, 2, 3, 4, 5]
[1, 'Saurabh', 3, 4, 5]

In [16]:
numbers

(1, 2, 3, 4, 5, 6)

In [15]:
# Tuple Methods
print(numbers.count(1))

1

In [17]:
print(numbers.index(3))

2

In [18]:
# Packing and Unpacking tuple

packed_tuple = 1,"Hello",3.14
print(packed_tuple)

(1, 'Hello', 3.14)

In [19]:
# Unpacking tuple
a,b,c = packed_tuple
print(a)
print(b)
print(c)

1
Hello
3.14

In [20]:
# Unpacking with *
numbers = (1,2,3,4,5,6)
first,*middle,last=numbers
print(first)
print(middle)
print(last)

1
[2, 3, 4, 5]
6

In [21]:
# Nested Tuples
# Nested List

lst = [[1,2,3,4],[6,7,8,9],[1,"Hello",3.14,"c"]]
lst[0]

[1, 2, 3, 4]

In [22]:
lst = [[1,2,3,4],[6,7,8,9],[1,"Hello",3.14,"c"]]
lst[0][2]

3

In [23]:
lst = [[1,2,3,4],[6,7,8,9],[1,"Hello",3.14,"c"]]
lst[0][0:4]

[1, 2, 3, 4]

In [25]:
lst = [[1,2,3,4],[6,7,8,9],(1,"Hello",3.14,"c")]
lst[0][0:3]

[1, 2, 3]

In [26]:
lst = [[1,2,3,4],[6,7,8,9],(1,"Hello",3.14,"c")]

In [27]:
lst[2][0:3]

(1, 'Hello', 3.14)

In [28]:
nested_tuple = ((1,2,3),("a","b","c"),(True,False))

# Access the elements inside a tuple
print(nested_tuple[0])
print(nested_tuple[1][2])

(1, 2, 3)
c

In [30]:
# Iterating over nested tuples
for sub_tuple in nested_tuple:
    for item in sub_tuple:
        print(item,end=" ")
    print()

1 2 3
a b c
True False

# Conclusion:

- Tuples are ordered collections of items in Python.
- They are immutable, meaning their elements cannot be changed once assigned.
- Tuples can be created using parentheses or square brackets.
- Tuples support various operations like concatenation, repetition, indexing,  slicing, and unpacking.
- Nested tuples can be created by combining tuples within tuples.

In [ ]:
3