## variables

In [1]:
a = 100  # here we assign a value to variables

In [2]:
age = 23
height = 5.8
name = "Saurabh"
is_student = True

## Printing the variables

print("age :", age)
print("Height :", height)
print("Name :",name)

age : 23
Height : 5.8
Name : Saurabh

In [3]:
## Naming Conventions
## Variables names should be descriptive
## They must start with a letter or an '_' and contains letter, numbers and underscores
## Variables names case sensitive

# Valid Variable names

first_name = 'Saurabh'
last_name  = 'Parthe'

In [4]:
## Invalid Variable names
# 2age=30
# first-name = 'Saurabh'
# @name = 'Saurabh'

In [5]:
# Case Sensitive
name = 'Saurabh'
Name = 'Parthe'

print(type(name))
print(type(Name))
name==Name

<class 'str'>
<class 'str'>

False

In [6]:
# Unbderstanding Variables Types
# Python is dynamically types, type of a variable is determined at runtime
age = 23   # int
height = "5.8"  # float
name = 'Saurabh'  # str
is_student = True  # bool

print(type(age))
print(type(name))
print(is_student)

<class 'int'>
<class 'str'>
True

In [7]:
## Type Checking and Conversion

type(height)

str

In [8]:
age = 23
print(type(age))

# Type Conversion
age_str = str(age)
print(age_str)
print(type(age_str))

<class 'int'>
23
<class 'str'>

In [9]:
age = '23'
int(age)
print(type(int(age)))

<class 'int'>

In [10]:
# String is a complete so it cannot be converted to a interger type

name = 'Saurabh'
int(name)

ValueError: invalid literal for int() with base 10: 'Saurabh'

In [11]:
height = 5.8
type(height)

float

In [12]:
int(height)

5

In [13]:
float(int(height))

5.0

In [14]:
# Dynamic Typing
# python allows the type of a variable to be changed as the programe executes

var = 10                    # int
print(var,type(var))

var = 'Saurabh'             # str
print(var, type(var))

var = 3.14                  # float
print(var,type(var))

10 <class 'int'>
Saurabh <class 'str'>
3.14 <class 'float'>

In [21]:
## input

age = input("what is the age")
print(age)

23

In [22]:

age = input("what is the age")
print(age,type(age))

23 <class 'str'>

In [24]:
# Simple Calculator
num1 = float(input("Enter number 1"))
num2 = float(input("Enter number 2"))

sum = num1 + num2
difference = num1 - num2
product = num1 * num2
quotient = num1 / num2

print("Sum:", sum)
print("Difference:", difference)
print("Product:", product)
print("Quotient:", quotient)

Sum: 150.0
Difference: 50.0
Product: 5000.0
Quotient: 2.0